# !/bin/zsh

## Prompt segment colors
ELASTIC_DEFAULT_PROMPT_SEGMENT_BACKGROUND_COLOR=NONE
ELASTIC_DEFAULT_PROMPT_SEGMENT_FOREGROUND_COLOR=black
ELASTIC_CURRENT_PROMPT_SEGMENT_BACKGROUND_COLOR=$ELASTIC_DEFAULT_PROMPT_SEGMENT_BACKGROUND_COLOR
ELASTIC_CURRENT_PROMPT_SEGMENT_FOREGROUND_COLOR=$ELASTIC_DEFAULT_PROMPT_SEGMENT_FOREGROUND_COLOR
# Prompt segment icons

## Process status prompt segment icon
ELASTIC_ICON_PROCESS_IS_ERROR="\u2718"
ELASTIC_ICON_PROCESS_IS_ROOT="\u26a1"
ELASTIC_ICON_PROCESS_IS_BACKGROUND_JOB="\u2699"

## VCS prompt segment icon 

### Vcs stage status icon
ELASTIC_ICON_STAGE_IS_DIRTY="\u00b1"

### VCS status icon
ELASTIC_ICON_BRANCH_IS_HEAD="\ue0a0"
ELASTIC_ICON_BRANCH_IS_DETACHED="\u27a6"

## End of prompt segment's seperator
ELASTIC_ICON_SEGMENT_SEPARATOR="\ue0b0"

# Prompt segment context

ELASTIC_PROMPT_SEGMENT_CONTEXT="%(!.%{%F{yellow}%}.)$(whoami)@%m "

# VCS prompt segment
ELASTIC_VCS_BACKGROUND_COLOR_IS_CLEAN=green
ELASTIC_VCS_BACKGROUND_COLOR_IS_NOT_CLEAN=yellow


# Virtual enviroment prompt segment
ELASTIC_VIRTUAL_ENVIROMENT_BACKGROUND_COLOR=cyan
ELASTIC_VIRTUAL_ENVIROMENT_FOURGROUND_COLOR=$ELASTIC_DEFAULT_PROMPT_SEGMENT_FOREGROUND_COLOR

# Directory prompt segment
ELASTIC_DIRECOTRY_BACKGROUND_COLOR=blue
ELASTIC_DIRECOTRY_FOREGROUND_COLOR=$ELASTIC_DEFAULT_PROMPT_SEGMENT_FOREGROUND_COLOR
